@import url("https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Poppins:wght@300;400;500;600;700;800&display=swap");
:root {
  --font-main: "David Libre", serif;
  --font-secondary: "Poppins", sans-serif;
  --grey-main: #dddcdc;
  --grey-secondary: #b4b3b3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #000;
}

body {
  text-align: center;
  font-family: var(--font-main);
}
/* ---------- NAVBAR ---------- */
header {
  padding: 1rem 8rem;
  position: relative;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-secondary);
  font-weight: 600;
}
nav li {
  display: inline-block;
  margin: 10px;
}
.logo {
  width: 10rem;
}
.nav-item-container {
  margin-right: auto;
}
.nav-social-container {
  margin-left: auto;
}
.toggler {
  margin-right: 30px;
  width: 35px;
  height: 4px;
  background: #000;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  display: none;
}
.toggler::before,
.toggler::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 4px;
  background: #000;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.toggler::before {
  transform: translate(-17.5px, -10px);
}
.toggler::after {
  transform: translate(-17.5px, 10px);
}

/* Animation */

.toggle.open .toggler {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.toggle.open .toggler::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.toggle.open .toggler::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
/* ---------- INTRO ---------- */

.intro-top {
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 1.2;
}
.intro-main {
  padding: 3rem 0;
  width: 95%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.intro-text-left {
  width: 20%;
  text-align: left;
}
.intro-text-right {
  width: 20%;
  text-align: right;
}
legend {
  font-family: var(--font-secondary);
  font-weight: 500;
  color: var(--grey-secondary);
  font-size: 0.8rem;
  margin-bottom: 20px;
}

.intro-text-left p {
  text-align: left;
  font-weight: 500;
  word-spacing: 3px;
  margin-bottom: 30px;
}
.intro-text-right p {
  font-family: "poppins";
  font-size: 2rem;
}

.image-intro {
  width: 100%;
  max-width: 18rem;
  border-radius: 40%;
  padding: 20px;
  border: 2px solid var(--grey-main);
}
.bottom-intro h3 {
  font-family: var(--font-main);
  font-size: 2rem;
  margin: 5rem 0;
  color: var(--grey-secondary);
}
.intro-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 60%;
  margin: auto;
}
.com-logo {
  max-width: 5rem;
  margin: 2rem auto;
}
#skills {
  padding: 3rem 8rem;
}
.advantage h3 {
  font-family: var(--font-main);
  font-size: 3rem;
  margin-bottom: 2rem;
}
.skill-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  font-family: var(--font-secondary);
  padding-bottom: 5rem;
}
.skill {
  background-color: #f8f8f8;
  padding: 2.2rem 2rem;
  border-radius: 10px;
  margin: 20px auto;
}
.skill:hover {
  background-color: var(--grey-main);
  box-shadow: inset 2px 2px 6px var(--grey-secondary);
}
.skill-container p {
  font-weight: 600;
  font-size: 0.8rem;
}
.skill p {
  margin-top: 10px;
  font-size: 1.2rem;
}
.skill .fab {
  font-size: 5rem;
  color: var(--grey-secondary);
}
.skill:hover .fab {
  color: #fff;
}
hr {
  border: 1px solid #e9e7e7;
}
.edu {
  padding: 3rem 0;
}
.edu h2,
.work h2 {
  padding: 5rem 0 0;
  font-size: 3rem;
  word-spacing: 6px;
  font-weight: 500;
}
.edu-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: left;
  padding: 6rem 0;
}
.edu-container {
  margin-top: 5rem;
}
.edu-container p {
  margin-top: 25px;
  font-weight: 500;
  font-size: 1.2rem;
}
.edu-container small {
  color: var(--grey-main);
  font-size: 0.6rem;
  font-family: var(--font-secondary);
}
.works-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem 0;
  font-family: var(--font-secondary);
}
.work-container img {
  width: 20rem;
  border-radius: 10px;
  margin: 0 2rem;
}
.work-container p {
  margin: 2rem 0;
}
footer {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
footer a {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  header,
  #intro,
  #skills {
    padding: 0;
  }
  .edu-wrapper {
    padding: 1rem 0;
  }
  .intro-main {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
  }
  .intro-text-left {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
  }

  .intro-text-right {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
  }
  .para {
    width: 100%;
    max-width: 200px;
    font-size: 0.8rem;
  }
}
@media (max-width: 600px) {
  #intro,
  #skills {
    padding: 3rem 1rem;
  }
  header {
    padding: 0 1rem;
    position: relative;
  }
  nav {
    justify-content: space-between;
  }
  .toggler {
    display: block;
  }
  .nav-item-container,
  .nav-social-container {
    display: none;
  }
}
